<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Charlotte Domingos - french movie director</title>
    <meta name="description" content="Gallery page of Charlotte Domingos' photos. She likes to travel and here are some favorite souvenirs"
    />

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#8d1ff0">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Faustina:400,600|Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.min.css">
</head>

<body class="gallery">
    <div class="container">
        <!-- Gallery -->
        <div class="gallery">
            <div class="background-image"></div>
            <!--Header-->
            <header>
                <a href="../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75.56 80.52">
                        <title>Charlotte Domingo's logo</title>
                        <g id="logo-svg" data-name="logo-svg">
                            <g id="logo-svg_part-1" data-name="logo-svg_part-1">
                                <path class="form-1" d="M19,26.6A28.48,28.48,0,0,0,3,52.2H3A28.46,28.46,0,0,0,17.29,76.9q.84.48,1.72.91" />
                                <path class="form-1" d="M42.09,26.61a28.48,28.48,0,0,1,16,25.61h0a28.46,28.46,0,0,1-14.29,24.7q-.84.48-1.72.91" />
                                <polygon class="form-2" points="58.54 2.13 64.53 0 64.46 80.52 58.55 80.52 58.54 2.13" />
                            </g>
                            <g id="logo-svg-empty" data-name="logo-svg-empty">
                                <polygon class="form-2" points="70.5 74.82 75.56 73.41 75.56 78.83 70.5 80.24 70.5 74.82" />
                            </g>
                        </g>
                    </svg>
                </a>

                <nav>
                    <ul>
                        <li><a href="pages/gallery.html">Gallery</a></li>
                    </ul>
                </nav>
            </header>
            <!-- End Header -->

            <!-- Instagram -->
            <div class="works">
                <h2 class="title">Instagram</h2>
                <p>
                    I have a Instagram account where I share how I percieve life through pictures and videos. 
                    Come and tell me what you think of here :
                    <a href="https://www.instagram.com/dmngsprod" alt="Charlotte Domingos' instagram" class="link" target="_blank">@dmngsprod</a>
                </p>
                <p>Otherwise, here are a selected pictures that I'm proud of. Enjoy !</p>
            </div>
            <!-- End Instagram -->

            <!-- Gallery -->
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item"><img src="../assets/img/us-flag.jpg" alt="Drapeau américain"></div>
                <div class="grid-item"><img src="../assets/img/blanc-mer.jpg" alt="Un banc en face de la mer"></div>
                <div class="grid-item"><img src="../assets/img/voilier-sur-mer.jpg" alt="Un voilier sur mer"></div>
                <div class="grid-item"><img src="../assets/img/sapin-neige.jpg" alt="Plein de sapins enneigés"></div>
                <div class="grid-item"><img src="../assets/img/promenade-plage.jpg" alt="Promenade sur la plage"></div>
                <div class="grid-item"><img src="../assets/img/verre-de-vin.jpg" alt="Un verre de vin"></div>
                <div class="grid-item"><img src="../assets/img/chichen-itza.jpg" alt="Chichen Itza"></div>
                <div class="grid-item"><img src="../assets/img/beach.jpg" alt="La plage"></div>
                <div class="grid-item"><img src="../assets/img/camille.jpg" alt="Camille"></div>
                <div class="grid-item"><img src="../assets/img/cascade.jpg" alt="Des cascades"></div>
                <div class="grid-item"><img src="../assets/img/ciel-orage.jpg" alt="Un ciel orageux"></div>
                <div class="grid-item"><img src="../assets/img/concert.jpg" alt="Lors d'un concert'"></div>
                <div class="grid-item"><img src="../assets/img/coucher-de-soleil.jpg" alt="Un coucher de soleil"></div>
                <div class="grid-item"><img src="../assets/img/eglise-facade.jpg" alt="Une façade d'église'"></div>
                <div class="grid-item"><img src="../assets/img/escaliers.jpg" alt="Des escaliers très colorés"></div>
                <div class="grid-item"><img src="../assets/img/fenetre.jpg" alt="Fenêtre sur cour"></div>
                <div class="grid-item"><img src="../assets/img/foret.jpg" alt="Allée dans la forêt"></div>
                <div class="grid-item"><img src="../assets/img/generation-z.jpg" alt="Trois jeunes filles"></div>
                <div class="grid-item"><img src="../assets/img/hommes-tombants.jpg" alt="Expositions avec des figures tombants"></div>
                <div class="grid-item"><img src="../assets/img/kenza.jpg" alt="Kenza"></div>
                <div class="grid-item"><img src="../assets/img/largent-taf.jpg" alt="Tag sur le mur : L'argent ne se mange pas !"></div>
                <div class="grid-item"><img src="../assets/img/lever-soleil.jpg" alt="Un lever de soleil"></div>
                <div class="grid-item"><img src="../assets/img/lol-ha.jpg" alt="Restaurant Lol-Ha"></div>
                <div class="grid-item"><img src="../assets/img/londres.jpg" alt="Londres"></div>
                <div class="grid-item"><img src="../assets/img/maisons.jpg" alt="Des maisons"></div>
                <div class="grid-item"><img src="../assets/img/mer-pecheurs.jpg" alt="Des pêcheurs et la mer"></div>
                <div class="grid-item"><img src="../assets/img/moon.jpg" alt="La pleine lune"></div>
                <div class="grid-item"><img src="../assets/img/mouette.jpg" alt="Une mouette"></div>
                <div class="grid-item"><img src="../assets/img/neige-eglise.jpg" alt="Une église sous la neige"></div>
                <div class="grid-item"><img src="../assets/img/ombres.jpg" alt="Jeu d'ombres'"></div>
                <div class="grid-item"><img src="../assets/img/paille.jpg" alt="Une paille"></div>
                <div class="grid-item"><img src="../assets/img/pano.jpg" alt="Un panorama sur la ville"></div>
                <div class="grid-item"><img src="../assets/img/road.jpg" alt="Une route américaine"></div>
                <div class="grid-item"><img src="../assets/img/route.jpg" alt="Une route"></div>
                <div class="grid-item"><img src="../assets/img/rue-campagne.jpg" alt="Une rue de campagne"></div>
                <div class="grid-item"><img src="../assets/img/rue-jaune.jpg" alt="Une rue espagnole"></div>
                <div class="grid-item"><img src="../assets/img/seine.jpg" alt="La Seine"></div>
                <div class="grid-item"><img src="../assets/img/ski.jpg" alt="Le ski"></div>
                <div class="grid-item"><img src="../assets/img/sous-le-pont.jpg" alt="Sous le pont, la Seine"></div>
                <div class="grid-item"><img src="../assets/img/statue-danceur.jpg" alt="Une statue de danceur"></div>
                <div class="grid-item"><img src="../assets/img/subway.jpg" alt="Le métro londonien"></div>
                <div class="grid-item"><img src="../assets/img/tag.jpg" alt="Un tag urbain"></div>
                <div class="grid-item"><img src="../assets/img/taxi.jpg" alt="Un taxi londonien"></div>
                <div class="grid-item"><img src="../assets/img/terrasse.jpg" alt="La joie d'une terrasse'"></div>
                <div class="grid-item"><img src="../assets/img/trace-de-pas.jpg" alt="Des traces de pas sur le sable"></div>
                <div class="grid-item"><img src="../assets/img/verre.jpg" alt="Toit de verre"></div>
                <div class="grid-item"><img src="../assets/img/vue-aerienne.jpg" alt="Une vue aérienne urbaine"></div>
                <div class="grid-item"><img src="../assets/img/vue-sao-paulo.jpg" alt="Une vue aérienne de Sao Paulo"></div>
                <div class="grid-item"><img src="../assets/img/water-edge.jpg" alt="Un panneau disant The Water's Edge'"></div>
            </div>

        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <p>© 2018 - All Right Reserved. Designed and developed by
            <a href="http://www.heleneta.com" target="_blank">Hélène Ta</a>
        </p>
    </footer>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="../assets/js/main.min.js"></script>
</body>

</html>