//HOMEPAGE STYLE
.homepage{

}

// HOMEPAGE TOP CONTENT
.top-content{
    margin: 55px 0;

    .top-content_presentation{
        position: relative;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;

        // TOP CONTENT IMG
        .top-content_presentation_img{
            text-align: right;

            img{
                width: 780px;
            }
        }

        // INFOS TOP CONTENT
        .top-content_presentation_infos{
            background-color: $background;
            padding: 25px;
            width: 460px;

            position: absolute;
            top: 185px;

            h1{
                margin-bottom: 25px;
            }

            p{
                @include fonts('Open Sans', 22px, 400, 33px);
            }
        }

        // LINK TO VIDEO
        .top-content_presentation_video{
            text-align: right;

            a{
                @include fonts('Open Sans', 18px, 600, auto);
                text-decoration: underline;
            }
        }
    }

    .top-content_synopsis{
        h2{
            @include fonts('Faustina', 26px, 400, auto);
            margin-bottom: 25px;
        }
    }
}

// HOMEPAGE ABOUT
.about{
    margin-bottom: 100px;

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about_picture{
        position: relative;

        .about_picture_img{
            width: 325px;
            img{
                width: 300px;
            }
        }
        
        .about_picture_flat-color{
            position: absolute;
            top: 25px;
            left: 25px;
            width: 300px;
            height: 300px;
            background-color: $purple;
            z-index: -1;
        }
    }

    .about_text{
        width: 540px;

        h4{
            @include fonts('Faustina', 48px, 400, auto);
            width: 200px;
            margin-bottom: 35px;
        }

        .about_text_introduction{
            margin-bottom: 25px;
        }
    }
}