.grid{
    height: 100%;
}
.gallery {
    .grid {
        max-width: 100%;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-sizer, .grid-item {
        width: 33%;
    }
    .grid-item {
        width: 100%;
        float: left;
        margin-bottom: 4%;

        @include responsive ($sm) {
            width: 30%;
        }
    }
    .grid-item--width2{
        width: 20%;
    }
    
}

.works{
    margin-bottom: 45px;

    p{
        margin-bottom: 5px;
    }
}
.works_link{
    color: $purple;
    position: relative;

    &:before{
        content: "";
        display: block;
        width: 0%;
        height: 30px;
        position: absolute;
        background-color: $purple;
        top: 0;
        left: 0;
        transition: all ease-in-out 0.5s;
        z-index: -2;
    }

    &:hover{
        color: $white;
        
        &:before{
            width: 100%;
        }
    }
}