.grid{
    height: 100%;
}
.gallery {
    .grid {
        max-width: 100%;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-sizer, .grid-item {
        width: 33%;
    }
    .grid-item {
        width: 100%;
        float: left;
        margin-bottom: 4%;

        @include responsive ($sm) {
            width: 30%;
        }
    }
    .grid-item--width2{
        width: 20%;
    }
    
}

.works{
    margin-bottom: 45px;

    p{
        margin-bottom: 5px;
    }
}