// HOMEPAGE TOP CONTENT
.top-content{
    margin: 55px 0 100px;

    .top-content_presentation{
        position: relative;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;

        // TOP CONTENT IMG
        .top-content_presentation_img{
            text-align: right;

            img{
                width: 100%;
            }
        }

        // INFOS TOP CONTENT
        .top-content_presentation_infos{
            background-color: $white;

            padding: 15px 0 0;

            @include responsive ($md) {
               padding: 25px;
               width: 320px;
               position: absolute;
               bottom: 100px;
            } 

            h1{
                margin-bottom: 25px;
            }

            p{
                @include fonts('Open Sans', 18px, 400, 27px);

                @include responsive ($md){
                    @include fonts('Open Sans', 18px, 400, 27px);
                }
            }
        }

        // LINK TO VIDEO
        .top-content_presentation_video{
            text-align: right;

            a{
                @include fonts('Open Sans', 18px, 600, auto);
                text-decoration: underline;
            }
        }
    }

    // TOP CONTENT SYNOPSIS
    .top-content_synopsis{
        position: relative;

        .top-content_synopsis_content{
            padding: 25px;
            background-color: $white;
            z-index: 1;

            h2{
                @include fonts('Faustina', 26px, 400, auto);
                margin-bottom: 25px;
            }
            
            p:first-of-type{
                margin-bottom: 20px;
            }
        }

        .top-content_synopsis_flat-color{
            position: absolute;
            width: 900px;
            height: 360px;
            top: 25px;
            left: 25px;
            background-color: $purple;
            z-index: -1;
        }
    }
}

// HOMEPAGE ABOUT
.about{
    margin-bottom: 100px;

    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include responsive ($md){
            flex-direction: row;
        }
        
    }

    .about_picture{
        position: relative;

        .about_picture_img{
            display: inline-block;
            width: 250px;

            @include responsive ($xxs){
                width: 325px;
            }
            img{
                width: 250px;
                @include responsive ($xxs) {
                    width: 300px;
                }
            }
        }
        
        .about_picture_flat-color{
            position: absolute;
            top: 25px;
            left: 25px;
            width: 250px;
            height: 250px;
            background-color: $purple;
            z-index: -1;

            @include responsive ($xxs){
                width: 300px;
                height: 300px;
            }
        }
    }

    .about_text{
        margin-top: 45px;

        @include responsive ($md){
            width: 540px;
            margin-left: 45px;
        }

        h4{
            @include fonts('Faustina', 48px, 400, auto);
            width: 200px;
            margin-bottom: 35px;
        }

        .about_text_introduction{
            margin-bottom: 25px;
        }
    }
}