// HERO
.hero {
  position: relative;
  width: 100%;
  height: 400px;

  @include responsive($sm) {
    height: 438px;
  }

  @include responsive($md) {
    height: 600px;
  }

  @include responsive($xl) {
    height: 750px;
  }

  .container {
    height: 100%;
  }
}

.hero_img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  z-index: -1;

  img {
    height: 400px;
    transform: translateX(-30%);
    object-fit: cover;

    @include responsive($sm) {
      height: 438px;
    }

    @include responsive($md) {
      width: 100%;
      height: 600px;
      transform: inherit;
    }

    @include responsive($xl) {
      height: 750px;
    }
  }
}

// HERO PRESENTATION
.hero_presentation {
  background-color: $white;
  padding: 15px;
  position: absolute;
  bottom: -30%;
  width: 280px;

  @include responsive($xxs) {
    bottom: -20%;
  }

  @include responsive($sm) {
    padding: 25px;
    width: 420px;
  }

  @include responsive($md) {
    bottom: -10%;
  }

  h1 {
    margin-bottom: 15px;
  }
  p {
    @include fonts('Open Sans', 14px, 400, 24px);
    @include responsive($md) {
      @include fonts('Open Sans', 14px, 400, 24px);
    }
  }
}

.infos_link {
  margin-top: 15px;
  a {
    @include fonts('Open Sans', 16px, 400, auto);
    color: $purple;
    font-weight: 700;
  }
}

// TOP CONTENT SYNOPSIS
.synopsis {
  margin: 130px 0;
}

.synopsis_wrapper {
  position: relative;
}

.synopsis_content {
  padding: 25px;
  margin-right: 0;
  text-align: left;
  background-color: $white;
  z-index: 1;
  @include responsive($sm) {
    margin-right: 25px;
  }
  h2 {
    @include fonts('Faustina', 26px, 400, auto);
    margin-bottom: 25px;
  }
  p:first-of-type {
    margin-bottom: 20px;
  }
}

.synopsis_flat-color {
  position: absolute;
  width: 0;
  height: 100%;
  top: 25px;
  left: 25px;
  background-color: $purple;
  z-index: -1;
  @include responsive($sm) {
    width: calc(100% - 25px);
  }
}

// HOMEPAGE ABOUT
.about {
  margin-bottom: 100px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include responsive($md) {
      flex-direction: row;
    }
  }

  .about_picture {
    position: relative;

    .about_picture_img {
      display: inline-block;
      width: 250px;

      @include responsive($xxs) {
        width: 325px;
      }
      img {
        width: 250px;
        @include responsive($xxs) {
          width: 300px;
        }
      }
    }

    .about_picture_flat-color {
      position: absolute;
      top: 25px;
      left: 25px;
      width: 250px;
      height: 250px;
      background-color: $purple;
      z-index: -1;

      @include responsive($xxs) {
        width: 300px;
        height: 300px;
      }
    }
  }

  .about_text {
    margin-top: 45px;

    @include responsive($md) {
      width: 540px;
      margin-left: 45px;
      margin-top: 0;
    }

    h4 {
      @include fonts('Faustina', 48px, 400, auto);
      width: 200px;
      margin-bottom: 35px;
    }

    .about_text_introduction {
      margin-bottom: 25px;
    }
  }
}
