.projects{

    // SINGLE PROJECT
    a{
        display: block;
        margin-bottom: 70px;
        margin-top: 15px;

        // PROJECT INFO TOP
        .project-infos {
            height: 440px;

            // PROJECT IMG
            .project-infos_img {
                position: relative;
                height: 440px;
                overflow: hidden;

                img {
                    position: absolute;
                    left: -40%;
                    height: 440px;

                    @include responsive ($md){
                        position: initial;
                        width: 940px;
                        height: auto;
                    }
                }
            } 
            
            // PROJECT SYNOPSIS
            .project-infos_synopsis {
                height: 440px;
                background-color: $background;
                will-change: transform;
                transform: translateY(-100%) translateX(110%);
                padding: 20px;
                transition: transform 1s ease-in;

                @include responsive ($md) {
                    display: none;
                    padding: 25px;
                    transform: translateY(-100%);
                }

                h3{
                    @include fonts('Open Sans', 26px, 600, auto);
                    text-align: center;
                    margin-bottom: 20px;
                }

                .project-infos_synopsis_credits{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 25px;

                    @include responsive ($md) {
                        flex-direction: row;
                    }
                }
            }
            .project-infos_synopsis.swiped{
                display: block;
                transform: translateY(-100%) translateX(0);
            }

            // PROJECT PRICE
            .project-infos_price{
                margin-top: 25px;

                .project-infos_price_img{
                    svg{
                        height: 55px;

                        image{
                            width: 155px;
                            height: 55px;
                        }
                    }
                }
                .project-infos_price_text{
                    p{
                        font-size: 15px;
                    }
                }
            }
        }

        // HOVER PROJECT 
        .project-infos:hover {
            .project-infos_synopsis {
                @include responsive ($md) {
                    display: block;
                    animation: fadein 1s ease-in-out 0.5;
                    animation-fill-mode: backwards;
                }
                
            }
        }

        // PROJECT MORE PHOTOS
        .project-more{
            margin-top: 25px;

            @include responsive ($md) {
                display: flex;
                justify-content: space-between;
            }
            .project-more_img{
                display: inline-block;
                height: 285px;
                overflow: hidden;

                img{
                    width: 100%;

                    @include responsive ($md){
                        width: 460px;
                    }
                }
            }
            div:first-of-type{

                @include responsive ($md) {
                    margin-right: 16px;
                }
                
            }
        }
    }
}