@font-face {
    font-family: 'walbaum';
    src: url(../fonts/WalbaumMTStd-Regular.otf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-Regular.otf);
}

//Colors
$red: #940516;
