.grid{
    height: 100%;
}
.gallery {
    .grid {
        max-width: 100%;
        img {
            display: block;
            max-width: 100%;
        }
    }
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-sizer, .grid-item {
        width: 33%;
    }
    .grid-item {
        width: 30%;
        float: left;
        margin-bottom: 4%;

        //Very small device ( < iPhone 5)
        @media screen and (max-width: 425px){
        width: 30%;
        }
    }
    .grid-item--width2{
        width: 20%;
    }
    
}