@import "_fonts.scss";
@import "_projects.scss";
@import "_fundraiser.scss";

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #1A1A1A;
    font-family: "montserrat";
    color: #f0f0f0;
    font-size: 18px;
    line-height: 21px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
footer{
    background: #282828;
    text-align: center;
    font-family: "walbaum";
    font-size: 12px;
    color: #B9B9B9;
    padding: 10px 0 5px 0;
    a{
        text-decoration: underline;
    }
}

.container{
    height: 100%;
    width: 90%;
    margin: 0 auto;
}
.background-image{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position-x: 100%;
    background-repeat: no-repeat;
    text-align: right;

    img{
        height: 100vh;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .background-image{
        height: 60%;
    }
}
.homepage{
    height: 100%;
}

//header
header{
    padding: 3% 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    a{
        margin-right: auto;
    }

    img{
        width: 40px;
        color: #fefefe;
    }

    nav{
        z-index: 45;
        li{
            font-family: "walbaum";
            display: inline-block;
            padding-left: 80px;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
    //Ipad Pro
    @media screen and (min-width: 768px) and (max-width: 1025px){
        nav{
            li{
                padding-left: 70px;
            }
        }
    }
    //Tablet
    @media screen and (max-width: 425px){
        nav{
            li{
                padding-left: 30px;
            }
        }
    }
    //Very small device ( < iPhone 5)
    @media screen and (max-width: 425px){
        nav{
            li{
                padding-left: 10px;
            }
        }
    }
}

//Presentation
.homepage-presentation{
    position: relative;
    height: 560px;
}
.wrapper{
    position: absolute;
    top: calc(50% - 120px - 115px);
    display: flex;
    height: 240px;
    flex-flow: column nowrap;
    justify-content: space-between;

    .email{
        font-family: "walbaum";
        font-size: 24px;
    }
}
//Tablet
@media screen and (max-width: 425px){
    .wrapper{
        height: 340px;
    }
}
//Small device (smaller than the iphone 6 +)
@media screen and (max-width: 375px){
    .wrapper{
        height: 300px;
        top: calc(50% - 215px);
    }
}
//Very small device ( < iPhone 5)
@media screen and (max-width: 425px){
    .wrapper{
        height: 280px;
        top: calc(50% - 215px);
    }
}

.homepage-presentation_content{
    line-height: 36px;
    h1{
        font-size: 36px;
        line-height: 55px;
    }
    p{
        font-size: 24px;

        span{
            position: relative;
            &:after{
                content: " ";
                width: 100%;
                height: 4px;
                position: absolute;
                bottom: -10px;
                left: 0;
                background: $red;
                will-change: animation;
                animation: fade_in 2s ease-in;
            }
        }
    }
}
//Small devices (smaller than the iphone 6 +)
@media screen and (max-width: 375px){
    .homepage-presentation_content{
        line-height: 25px;
        h1{
            font-size: 24px;
        }
        p{
            font-size: 18px;
        }
    }
}
//Very small device ( < iPhone 5)
@media screen and (max-width: 425px){
    .homepage-presentation_content{
        line-height: 28px;
        h1{
            font-size: 20px;
            line-height: 36px;
            padding-bottom: 10px;
        }
    }
}

@keyframes fade_in {
    0%   {opacity: 0;}
    50%  {opacity: 0.5;}
    70%  {opacity: 0.8;}
    100% {opacity: 1;}
}

.homepage-scroll_icon{
    position: absolute;
    bottom: 10px;
    left: calc(50% - 30px);
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    span{
        font-family: "walbaum";
        font-size: 18px;
    }
    .scroll-bar{
        width: 4px;
        height: 50px;
        background: $red;
        will-change: animation;
        animation: flashing 7s ease-in;
        animation-iteration-count: infinite;
    }
}
//Ipad Pro
@media screen and (min-width: 768px) and (max-width: 1025px){
    .homepage-scroll_icon{
        bottom: 50%;
    }
}
//Tablet
@media screen and (min-width: 425px) and (max-width: 768px){
    .homepage-scroll_icon{
        bottom: 40%;
    }
}

@keyframes flashing {
    0%   {opacity: 0;}
    30%  {opacity: 0.5};
    60%  {opacity: 1;}
    80%  {opacity: 0.5;}
    100% {opacity: 0;}
}
